<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Colorlib">
	<meta name="description" content="#">
	<meta name="keywords" content="#">
	<!-- Favicons -->
	<link rel="shortcut icon" href="#">
	<!-- Page Title -->
	<title>Agenda</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
	<!-- Simple line Icon -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Themify Icon -->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Hover Effects -->
	<link rel="stylesheet" href="css/set1.css">
	<!-- Swipper Slider -->
	<link rel="stylesheet" href="css/swiper.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Main CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- DATE RANGE PICKER CSS -->
	<link rel="stylesheet" href="css/daterangepicker.css">

	<link href='fullcalendar.min.css' rel='stylesheet' />
	<link href='fullcalendar.print.min.css' rel='stylesheet' media='print' />
	<script src='js/moment.min.js'></script>
	<script src='js/jquery.min.js'></script>
	<script src='fullcalendar.min.js'></script>

	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
<!--============================= HEADER =============================-->
<div class="dark-bg sticky-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand" href="/">Portal Música</a>

					<% if(typeof usuarioLogado !== 'undefined' && usuarioLogado.length > 0) { %>
						<% if(usuarioLogado[0].tipo[0].idTpUsuario == 2 || usuarioLogado[0].tipo[0].idTpUsuario == 3 || usuarioLogado[0].tipo[0].idTpUsuario == 4) {%>
						<input type="hidden" id="usr" value="<%=usuarioLogado[0]._id%>" />
						<a href="./carteira" style="display: inline;text-decoration:none">
							<img src="images/carteira3.png"  width="60" height="40" class="img-fluid" alt="img13" />
						</a>
						<a href="./carteira" style="display: inline;text-decoration:none">
							<span id='carteiraDisplay' style="color:#d9d9d9;"></span>
						</a>
					<%} }%>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" 	aria-label="Toggle navigation">
						<span class="icon-menu"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<% if(typeof usuarioLogado !== 'undefined') { %>
								<% if(usuarioLogado[0].tipo[0].idTpUsuario == 2 || usuarioLogado[0].tipo[0].idTpUsuario == 3 || usuarioLogado[0].tipo[0].idTpUsuario == 4) {%>
									<li class="nav-item active">
										<a class="nav-link" href="cadastro-estudio">Cadastrar Estúdio</a>
									</li>
									<li class="nav-item active">
										<a class="nav-link" href="cadastro-sala">Cadastrar Sala</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="agenda">Agenda</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="portfolio?id_prestador=<%=usuarioLogado[0]._id%>&flag=1">Gerenciar Portfólio</a>
									</li>
									<li>
										<a href="logoff" id='btLogoff' class="nav-link btn btn-outline-light top-btn"> Logoff</a>
									</li>
								<%} else {%>
									<li class="nav-item">
										<a class="nav-link" href="agenda">Agenda</a>
									</li>
									<li>
										<a href="logoff" id='btLogoff' class="nav-link btn btn-outline-light top-btn"> Logoff</a>
									</li>
								<%} %>
							<% } else { %>
								<li><!-- data-toggle="modal" data-target="#cadastro-modal" -->
									<a href="/" id='btCadastroUser' class="btn btn-outline-light top-btn" data-toggle="modal" > Novo Usuário</a>
								</li>
								<li>
									<a href="/" id='btLogin' class="btn btn-outline-light top-btn" data-toggle="modal" data-target="#login-modal"> Login</a>
								</li>
							<% } %>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!--//END HEADER -->
<!--============================= BOOKING =============================-->

<!--//END BOOKING -->
<!--============================= RESERVE A SEAT =============================-->
<section class="reserve-block">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h5>Agenda</h5><br>
				<p class="reserve-description">Aqui você pode visualizar todos os seus agendamentos!</p>
			</div>
		</div>
	</div>
</section>
<!--//END RESERVE A SEAT -->
<section class="light-bg booking-details_wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12 responsive-wrap">
				<div class="booking-checkbox_wrap">
					<div class="row d-flex">
						<!--
						<table class="table">
							<thead class="thead-light">
							<tr>

								<th scope="col">Data Agendamento</th>
								<th scope="col">Horário Inicio</th>
								<th scope="col">Horário Fim</th>
							</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
						!-->
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 responsive-wrap">
				<div class="booking-checkbox_wrap">
					<div class="row d-flex">
						<div id='calendar'></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="detail-event" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-group">
					<h4 id="txtEstudio"></h4>
					<!--<input type="login" class="form-control" id="login" name="login" required>-->
				</div><br />
				<div class="form-group">
					Data Agendamento: <p id="dtAgendamento"></p>
				</div><br/>
				<div class="form-group">
					Hora Inicio: <p id="horaInicio"></p>
					Hora Fim: <p id="horaFim"></p>
				</div><br />
				<button type="button" id="cancelarAgendamento" class="btn btn-danger btn-lg">Cancelar Agendamento</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<footer class="main-block dark-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					<p>Copyright &copy; 2018 . All rights reserved </p>
					<ul>
						<li><a href="#"><span class="ti-facebook"></span></a></li>
						<li><a href="#"><span class="ti-twitter-alt"></span></a></li>
						<li><a href="#"><span class="ti-instagram"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<script>

    $(document).ready(function() {
		var id_usuario = $("#usr").val();
		if(typeof(id_usuario) != 'undefined') {
			$.ajax({
				url: "checarSaldo",
				type: "post",
				data: {id_usuario: id_usuario},
				datatype: 'json',
				success: function (result) {
					$("#carteiraDisplay").html("R$"+result.creditos.toFixed(2));
				},
				error: function(data){
					alert("Erro ao consultar a carteira. ");
				}
			});
		}


        $.ajax({
            url:"agendamentos",
            type:"POST",
            datatype: 'JSON',
            success: function(agendamentos){

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay,listWeek'
                    },
                    eventOverlap: false,
                    defaultDate: new Date(),
                    navLinks: true, // can click day/week names to navigate views
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    eventRender: function(event, element){
                        element.popover({
                            animation:true,
                            title: event.title,
                            content: event.description,
                            trigger: 'hover',
                            placement: 'top',
                            container: 'body',
							html: true
                        });
                    },
                    events: agendamentos,
                    timeFormat: 'HH:mm', // uppercase H for 24-hour clock
                    eventResize: function(event, delta, revertFunc) {
                        if (confirm("Você tem certeza que deseja alterar o seu agendamento?")) {
                            let data = event.start.format().split("T")[0].trim();
                            let dataAgend = data.split("-")[2] + "/" + data.split("-")[1] + "/" + data.split("-")[0];
                            let horarioStart = event.start.format().split("T")[1].trim().slice(0, -3);
                            let horarioEnd = event.end.format().split("T")[1].trim().slice(0, -3);
                            let idAgendamento = event.id;

                            //alert(horarioEnd);

                            let agendamento = {
                                idAgendamento : idAgendamento,
                                horario_inicio : horarioStart,
                                horario_fim : horarioEnd,
                                dataAgendamento : dataAgend
                            };
                            $.ajax({
                                url: "updateAgendamento",
                                type: "post",
                                data: agendamento,
                                datatype: 'json',
                                success: function (agendamentos) {
                                    console.log(agendamentos)
                                },
                                error: function(data){
                                    alert("Erro: " + data);
                                }
                            });
                            //
                        } else {
                            //alert('só opa');
                            revertFunc();
                        }
                    },
                    eventDrop: function(event, delta, revertFunc) {

                        if (confirm("Você tem certeza que deseja alterar o seu agendamento?")) {

                            let data = event.start.format().split("T")[0].trim();
                            let dataAgend = data.split("-")[2] + "/" + data.split("-")[1] + "/" + data.split("-")[0];
                            let horarioStart = event.start.format().split("T")[1].trim().slice(0, -3);
                            let horarioEnd = event.end.format().split("T")[1].trim().slice(0, -3);
                            let idAgendamento = event.id;

                            //alert(horarioEnd);

                            let agendamento = {
                                idAgendamento : idAgendamento,
                                horario_inicio : horarioStart,
                                horario_fim : horarioEnd,
                                dataAgendamento : dataAgend
                            };
                            $.ajax({
                                url: "updateAgendamento",
                                type: "post",
                                data: agendamento,
                                datatype: 'json',
                                success: function (agendamentos) {

                                },
                                error: function(data){
                                    alert("Erro: " + data);
                                }
                            });
                        } else {
                            //alert('só opa');
                            revertFunc();
                        }

                    },
                    eventClick: function(event, element) { //para a modal de visualizar detalhes
                        let data = event.start.format().split("T")[0].trim();
                        let dataAgend = data.split("-")[2] + "/" + data.split("-")[1] + "/" + data.split("-")[0];
                        let horarioStart = event.start.format().split("T")[1].trim().slice(0, -3);
                        let horarioEnd = event.end.format().split("T")[1].trim().slice(0, -3);

                        $('#txtEstudio').text(event.title);
                        $('#dtAgendamento').text(dataAgend);
                        $('#horaInicio').text(horarioStart);
                        $('#horaFim').text(horarioEnd);
                        $('#detail-event').modal('show');

						$('#cancelarAgendamento').on('click', function() {
						   	let idAgendamento = event.id;

						   	$.ajax({
                                url: "cancelarAgendamento",
                                type: "post",
                                data: {idAgendamento : idAgendamento},
                                success: function (result) {

                                	$('#detail-event').modal('toggle');
                                	window.location.reload();
                                },
                                error: function(data){
                                    alert("Erro: " + data);
                                }
							});
						});
                    }
                });
            },
            error: function(data){
                alert("Erro: " + data);
            }
        });

    });

</script>
</body>
</html>