<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Colorlib">
        <meta name="description" content="#">
        <meta name="keywords" content="#">
        <!-- Favicons -->
        <link rel="shortcut icon" href="#">
        <!-- Page Title -->
        <title>Cadastrar Sala</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
        <!-- Simple line Icon -->
        <link rel="stylesheet" href="css/simple-line-icons.css">
        <!-- Themify Icon -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- Hover Effects -->
        <link rel="stylesheet" href="css/set1.css">
        <!-- Swipper Slider -->
        <link rel="stylesheet" href="css/swiper.min.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="css/magnific-popup.css">
        <!-- Main CSS -->
        <link rel="stylesheet" href="css/style.css">
        <!-- DATE RANGE PICKER CSS -->
        <link rel="stylesheet" href="css/daterangepicker.css">
        
        
    </head>

    <body>
        <!--============================= HEADER =============================-->
        <div class="dark-bg sticky-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/">Portal Música</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" 	aria-label="Toggle navigation">
                            <span class="icon-menu"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <% if(usuarioLogado) { %>
                                        <% if(usuarioLogado[0].tipo[0].idTpUsuario == 2 || usuarioLogado[0].tipo[0].idTpUsuario == 3 || usuarioLogado[0].tipo[0].idTpUsuario == 4) {%>
                                            <li class="nav-item active">
                                                <a class="nav-link" href="cadastro-estudio">Cadastrar Estúdio</a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link" href="cadastro-sala">Cadastrar Sala</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="agenda">Agenda</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="portfolio">Portfólio</a>
                                            </li>
                                            <li>
                                                <a href="logoff" id='btLogoff' class="nav-link btn btn-outline-light top-btn"> Logoff</a>
                                            </li>
                                        <%} else {%>
                                            <li class="nav-item">
                                                <a class="nav-link" href="agenda">Agenda</a>
                                            </li>
                                            <li>
                                                <a href="logoff" id='btLogoff' class="nav-link btn btn-outline-light top-btn"> Logoff</a>
                                            </li>
                                        <%} %>
                                    <% } else { %>
                                        <li><!-- data-toggle="modal" data-target="#cadastro-modal" -->
                                            <a href="/" id='btCadastroUser' class="btn btn-outline-light top-btn" data-toggle="modal" > Novo Usuário</a>
                                        </li>
                                        <li>
                                            <a href="/" id='btLogin' class="btn btn-outline-light top-btn" data-toggle="modal" data-target="#login-modal"> Login</a>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--//END HEADER -->

        <!-- Modal ADD SERVIÇO -->
        <div class="modal fade" id="addServico-Modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <!--<form method="POST" action="/novo-servico">-->
                            <div class="form-group">
                                <label for="tipoServico">Tipo Serviço:</label>
                                <select id="tipoServico" class="form-control" name="tipoServico" required>
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nomeServico">Nome do Serviço:</label>
                                <input type="text" placeholder="NomeDoServiço XYZ" class="form-control" id="nomeServico" name="nomeServico" required>
                            </div>
                            <div class="form-group">
                                <label for="precoServico">Preço do Serviço:</label>
                                <input type="text" placeholder="99,99" class="form-control" id="precoServico" name="precoServico" required>
                            </div>
                            <div class="form-group">
                                <label for="descricaoServico">Descrição do Serviço:</label>
                                <textarea placeholder="Descrição do Serviço ofertado" class="form-control" id="descricaoServico" name="descricaoServico" required></textarea>
                            </div>
                            <button type="submit" id="cadastrarServico" class="btn btn-primary btn-lg">Cadastrar</button>
                        <!--</form>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- END MODAL ADD SERVIÇO -->

        <!-- Modal Visualizar Serviço -->
        <div class="modal fade" id="addServico-Modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <!--<form method="POST" >-->
                            <div class="form-group">
                                <label for="tipoServico">Tipo Serviço:</label>
                                <select id="tipoServico" class="form-control" name="tipoServico" required>
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nomeServico">Nome do Serviço:</label>
                                <input type="text" placeholder="NomeDoServiço XYZ" class="form-control" id="nomeServico" name="nomeServico" required>
                            </div>
                            <div class="form-group">
                                <label for="precoServico">Preço do Serviço:</label>
                                <input type="text" placeholder="99,99" class="form-control" id="precoServico" name="precoServico" required>
                            </div>
                            <div class="form-group">
                                <label for="descricaoServico">Descrição do Serviço:</label>
                                <textarea placeholder="Descrição do Serviço ofertado" class="form-control" id="descricaoServico" name="descricaoServico" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
                        <!--</form>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- END MODAL Visualizar Serviço -->

        <!--============================= BOOKING =============================-->

        <!--//END BOOKING -->
        <!--============================= RESERVE A SEAT =============================-->
        <section class="reserve-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Cadastrar Sala</h5><br>
                        <p class="reserve-description">Cadastre as informações da sala do estúdio.</p>
                    </div>
            </div>
        </section>
        <!--//END RESERVE A SEAT -->
        <!--============================= BOOKING DETAILS =============================-->
        <section class="light-bg booking-details_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 responsive-wrap">
                        <!-- DESCRICAO E CHECKBOX -->
                        
                        <div class="booking-checkbox_wrap">	
                            <form method="POST" id="formNovoServico" action="/cadastro-sala">
                                <div class="col-5">
                                    <label for="id_estudio">Estúdio</label>
                                    <select class="form-control" id="id_estudio" name="id_estudio" required>
                                        <option value="0">Selecione Estúdio</option>
                                        <!-- aqui vai um loop lendo uma lista de estudios -->
                                        <% if(estudios.length > 0) { %>
                                            <h1>top</h1>
                                            <% for(var i = 0; i < estudios.length; i++) { %>
                                                <option value="<%= estudios[i]._id %>"><%= estudios[i].nomeEstudio %></option>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="col-5">
                                    <label for="nome_sala">Nome da Sala</label>
                                    <input class="form-control" id="nome_sala" type="text" name="nome_sala" required>
                                </div>
                                <div class="col-5">
                                    <label for="valor_sala">Serviços:</label>
                                    <div>
                                        <a href="#" data-toggle="modal" id="addServico" data-target="#addServico-Modal" class="btn btn-success">Add Serviço +</a>&nbsp;&nbsp;<a href="#" class="btn btn-info">Visualizar Serviços</a>
                                        <br><br>
                                    </div>
                                </div>
                                <!--
                                <div class="col-5">
                                    <label for="valor_sala">Preço por hora</label>
                                    <input class="form-control" id="valor_sala" type="text" name="valor_sala" required>
                                </div>
                                -->
                                <div class="col-5">
                                    <label for="equipamento">Equipamentos</label>
                                    <!-- SPLIT PARA SEPARAR OS EQUIPAMENTOS, PODE SALVAR COMO UMA STRING SO E DA SPLIT QUANDO FOR MEXER -->
                                    <input class="form-control" id="equipamento" type="text" name="equipamento" placeholder='separe os equipamentos por virgula' required>
                                </div>
                                <br/>
                                <button type="submit" class="btn btn-primary">Cadastrar Sala</button>
                            </form>
                        </div>
                        <!-- END //DESCROCAO E CHECKBOX -->
                    </div>
                </div>
            </div>
        </section>
        <!--//END BOOKING DETAILS -->
        <!--============================= FOOTER =============================-->
        <footer class="main-block dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p>Copyright &copy; 2018 Listing. All rights reserved </p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <ul>
                                <li><a href="#"><span class="ti-facebook"></span></a></li>
                                <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                <li><a href="#"><span class="ti-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--//END FOOTER -->
        
        <!-- jQuery, Bootstrap JS. -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- Magnific popup JS -->
        <script src="js/jquery.magnific-popup.js"></script>
        
        <!-- Swipper Slider JS -->
        <script src="js/swiper.min.js"></script>
        
        <script>
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 3,
                slidesPerGroup: 3,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
            $(document).ready(function(){
                let arrayServicos = [];
                //#formNovoServico
                //
               $("#formNovoServico").on("submit", function(e){
                   e.preventDefault();
                   //let data = $(this).serialize();
                   //console.log("opa serializou");
                   let jsonServicos = JSON.stringify(arrayServicos); //json dos serviços pra essa sala
                   let formData = JSON.stringify($(this).serializeArray()); //dados do form da sala
                   let jsonConcat = formData.concat(jsonServicos);
                   let jsonFake = JSON.stringify([{"name":"id_estudio","value":"5b9892e1d950963024018e8f"},{"name":"nome_sala","value":"opa sala"},{"name":"equipamento","value":"opa equips"}][{"tipoServico":"5b971cc40e12a639a89e7510","nomeServico":"ensaiera","precoServico":"22,99","descricaoServico":"ensaiera pow"},{"tipoServico":"5b971d1b0e12a639a89e7512","nomeServico":"gravaceira","precoServico":"322,99","descricaoServico":"gravaceira pow"}]);
                   console.log(formData);
                   console.log(jsonServicos);
                   console.log(jsonFake);

                   //submento o form via ajax
                   $.ajax({
                       type: "POST",
                       url: "cadastro-sala",
                       data: formData,
                       success: function(data){
                           let idSala = data.idSala;
                           alert("sala cadastrada com sucesso!");
                       },error: function(data){
                            console.log('errooooo');
                            console.log(data);
                       },
                       dataType: "json",
                       contentType : "application/json"
                   });
                   //action="/novo-servico"

               });

               $("#addServico").on("click", function(){
                   $.ajax({
                        url:"tipos-servico",
                        type:"POST",
                        data: {tipoUsuario : 4}, //MUDAR O 4 PARA A SESSION
                       success: function(data){
                            let tiposServico = data.tiposServico;
                            $("#tipoServico").html(""); //limpando a combo
                            $("#tipoServico").append("<option></option>"); //option vazia inicial
                            $.each(tiposServico, function( index, value ){
                                    //vai popular a combo com os tipos de serviço para estudios
                                    $("#tipoServico").append("<option value='"+value._id+"'>"+value.nomeTpServico+"</option>");
                            });
                       },
                       error: function(data){
                            alert("Erro: " + data);
                       }
                   });
               });


               // onde na teoria submitaria o form;
               $("#cadastrarServico").on("click", function(){

                   let tipoServico = $("#tipoServico").val().trim();
                   let nomeServico = $("#nomeServico").val().trim();
                   let precoServico = $("#precoServico").val().trim();
                   let descricaoServico = $("#descricaoServico").val().trim();

                   let servico = {
                       tipoServico : tipoServico,
                       nomeServico : nomeServico,
                       precoServico : precoServico,
                       descricaoServico : descricaoServico
                   };

                   arrayServicos.push(servico);
                   $("#addServico-Modal").modal("hide");
                   console.log(arrayServicos);
               });
            });
        </script>
        <script>
            if ($('.image-link').length) {
                $('.image-link').magnificPopup({
                    type: 'image',
                    gallery: {
                        enabled: true
                    }
                });
            }
            if ($('.image-link2').length) {
                $('.image-link2').magnificPopup({
                    type: 'image',
                    gallery: {
                        enabled: true
                    }
                });
            }
        </script>
    </body>

</html>