<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Favicons -->
    <link rel="shortcut icon" href="#">
    <!-- Page Title -->
    <title>Cadastrar Sala</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="css/set1.css">
    <!-- Swipper Slider -->
    <link rel="stylesheet" href="css/swiper.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- DATE RANGE PICKER CSS -->
    <link rel="stylesheet" href="css/daterangepicker.css">

    <link href='fullcalendar.min.css' rel='stylesheet' />
    <link href='fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='js/moment.min.js'></script>
    <script src='js/jquery.min.js'></script>
    <script src='fullcalendar.min.js'></script>
</head>

<body>
<!--============================= HEADER =============================-->
<div class="dark-bg sticky-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">Portal Música</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" 	aria-label="Toggle navigation">
                        <span class="icon-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <% if(typeof usuarioLogado !== 'undefined') { %>
                                <% if(usuarioLogado[0].tipo[0].idTpUsuario == 2 || usuarioLogado[0].tipo[0].idTpUsuario == 3 || usuarioLogado[0].tipo[0].idTpUsuario == 4) {%>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="cadastro-estudio">Cadastrar Estúdio</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="cadastro-sala">Cadastrar Sala</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="agenda">Agenda</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="gerenciar-portfolio?id_prestador=<%=usuarioLogado[0]._id%>&flag=1">Gerenciar Portfólio</a>
                                    </li>
                                    <li>
                                        <a href="logoff" id='btLogoff' class="nav-link btn btn-outline-light top-btn"> Logoff</a>
                                    </li>
                                <%} else {%>
                                    <li class="nav-item">
                                        <a class="nav-link" href="agenda">Agenda</a>
                                    </li>
                                    <li>
                                        <a href="logoff" id='btLogoff' class="nav-link btn btn-outline-light top-btn"> Logoff</a>
                                    </li>
                                <%} %>
                            <% } else { %>
                                <li><!-- data-toggle="modal" data-target="#cadastro-modal" -->
                                    <a href="/" id='btCadastroUser' class="btn btn-outline-light top-btn" data-toggle="modal" > Novo Usuário</a>
                                </li>
                                <li>
                                    <a href="/" id='btLogin' class="btn btn-outline-light top-btn" data-toggle="modal" data-target="#login-modal"> Login</a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--//END HEADER -->
<!--============================= BOOKING =============================-->

<!--//END BOOKING -->
<!--============================= RESERVE A SEAT =============================-->
<section class="reserve-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Carteira</h5><br>
                <p class="reserve-description">Aqui você pode visualizar os créditos em sua carteira!</p>
            </div>
        </div>
    </div>
</section>
<!--//END RESERVE A SEAT -->
<section class="light-bg booking-details_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 responsive-wrap">
                <div class="booking-checkbox_wrap">
                    <div class="row d-flex">
                        <!--
                        <table class="table">
                            <thead class="thead-light">
                            <tr>

                                <th scope="col">Data Agendamento</th>
                                <th scope="col">Horário Inicio</th>
                                <th scope="col">Horário Fim</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        !-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 responsive-wrap">
                <div class="booking-checkbox_wrap">
                    <div class="row d-flex">
                        <div id='carteira'>
                            Créditos em Reais:
                            <br>
                            RS<%= creditos.toFixed(2)%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="main-block dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright &copy; 2018 . All rights reserved </p>
                    <ul>
                        <li><a href="#"><span class="ti-facebook"></span></a></li>
                        <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                        <li><a href="#"><span class="ti-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>

    $(document).ready(function() {


    });

</script>
</body>
</html>